
.sec{
    display: flex;
    flex-wrap: wrap;
}

.Hcard{
    display: flex;
    align-items: flex-start;
    margin: 60px;
    width: 40%;
    background-color:  lightgrey;
}

.div12{
    display: flex;
    flex-direction: column;
}

.anchor{
    text-decoration: none;
    color: black;
}

.imghotel{
    margin-right: 30px;
    top: 0%;
    left: 0%;
    bottom: 0%;
    height: 250px;
    width: 250px;
    background-size: cover;
}

.ul{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

#d1{
    margin: 10px;
}

.listmap{
    text-decoration: none;
    color: rgb(48, 46, 46);
}


.gapcreation{
    background-color:#e0e0e0;
    display: flex;
}