
#divv{
    background-color:  rgb(132,136,139);
    width:40%;
    margin:2%;
}

img{
    top: 0%;
    left: 0%;
}

.ul{
    display: flex;
    justify-content: center;
    
    margin-top: 80px;
}

#d1{
    margin: 10px;
}

.listmap{
    text-decoration: none;
    color: rgb(48, 46, 46);
}

.Hcard{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 20px;
}